#map{
  height:500px;
}

.gm-style{
  color:black !important;
}
.height-auto img{
  width:auto;
  height: auto;
  max-height: 100px;
}
#loader{
  position: absolute;
  z-index: 9999;
  left:35%;
  bottom:10%;
}